<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="io.opencaesar.oml.target" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.buildship.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2020-03"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.apache.xml.resolver" version="0.0.0"/>
			<unit id="com.google.gson" version="0.0.0"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2020-03"/>
		</location>
	</locations>
</target>